.aboutUs_content {
  padding: 55px 95px 0 95px;
  background-color: #f6f6f6;
  font-family: "microsoft yahei";
  font-size: 15px;
  color: #454545;

  .clearfix();

  .au_con_title {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    ul {
      border-top: 1px solid #aaaaaa;
      li {
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #aaaaaa;
        text-align: center;

        .icon_arrow {
          background: url("../../img/arrow.jpg") no-repeat;
          width: 16px;
          height: 16px;
          display: inline-block;
          vertical-align: middle;
        }
        span {
          padding: 0 54px;
          display: inline-block;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .active {
        font-weight: bold;
      }
    }
  }

  .au_con_content {
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    width: 702px;;

    .au_con_con {
    }

    .au_con_company {
      max-width: 890px;
      font-size: 14px;
      p {
        margin-bottom: 30px;
      }
      img {
        display: inline-block;
        margin-right: 11px;
      }
    }
    .au_con_course {
      font-size: 12px;
      .clearfix();
      .au_con_course_time {
        position: relative;
        float: left;
        p {
          margin-bottom: 0px;
          .time_circle {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #409f73;

          }
          .time_circle_text {
            padding-right: 10px;
          }
        }
        .time_line_text {
          height: 10px;
          line-height: 10px;
        }
        .line {
          width: 2px;
          margin-left: 73px;
          background-color: #409f73;
        }
        .time_line_first {
          height: 19px;
        }
        .time_line_second {
          height: 217px;
        }
        .time_line_third {
          height: 59px;
        }
        .time_line_fourth {
          height: 10px;
        }
      }

      .au_con_course_content{
        float: left;
        margin-left: 30px;

        .triangle_outter{
          width: 0px;
          height: 0px;
          border-width: 13px;
          border-style: solid;
          border-top-color: transparent;
          border-bottom-color: transparent;
          border-left-color: transparent;
          border-right-color:white;
        }

        .au_con_course_content_first{
          width: 295px;
          background-color: white;
          padding: 15px 0;
          position: relative;
          .triangle_outter{
            position: absolute;
            top: 13px;
            left: -26px;
          }
          p{
            text-align: center;
            margin:0;
          }
          img{
            width: 232px;
            height: 155px;
            display: block;
            margin: 0 auto;
          }

        }

        .au_con_course_content_second{
          background-color: white;
          width: 500px;
          margin-top: 15px;
          height: 44px;
          border-radius: 3px;
          position: relative;

          .triangle_outter{
            position: absolute;
            left: -26px;
            top: 9px;
          }

          p{
            height: 44px;
            line-height: 44px;
          }
        }
        .au_con_course_content_third{
          background-color: white;
          width: 500px;
          margin-top: 25px;
          height: 44px;
          border-radius: 3px;
          position: relative;

          .triangle_outter{
            position: absolute;
            left: -26px;
            top: 9px;
          }

          p{
            height: 44px;
            line-height: 44px;
          }
        }
      }
    }
    .au_con_contact {
      
      .au_con_contact_info {
        float: left;
        width: 350px;
        font-size: 12px;
        font-family: "microsoft yahei";
        h1 {
          font-size: 15px;
          margin-bottom: 28px;
        }
        p {
          margin-bottom: 11px;
        }
      }
      .au_con_contact_map {
        float: left;
        border: 1px solid #d5d5d5;

        p {
          font-size: 12px;
          text-align: center;
          margin-bottom: 0px;
          padding: 5px 0 5px 0;
          background-color: white;

          .icon_big {
            background: url("../../img/big.jpg") no-repeat;
            display: inline-block;
            width: 12px;
            height: 12px;
            vertical-align: middle;
            cursor: pointer;
          }
          span{
            cursor: pointer;
          }
        }
      }

      .map {
        width: 315px;
        height: 225px;
      }

    }
    .au_con_recruitment {
      font-size: 14px;
      h1 {
        font-size: 16px;
        margin-bottom: 35px;
      }
      .au_con_recruitment_address {
        margin-bottom: 30px;
      }
      .au_con_recruitment_request {
        margin-top: 30px;
      }
      .au_con_recruitment_adv {
        margin-top: 30px;
      }
      .au_con_recruitment_email {
        color: #409f73;
        font-size: 15px;
        margin-top: 16px;
      }

      .au_con_recruitment_product {
        padding-top: 30px;
        border-top: 1px solid #d5d5d5;
        margin-top: 30px;
      }
    }
  }
}

.mask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.4;
  z-index: 99;
}
.pop-map{
  width: 800px;
  height: 500px;
  border: 1px solid #d5d5d5;
  position: absolute;
  top:20px;
  left: 300px;
  z-index:9999;

  p{
    height: 19px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 0px;

    span{
      float: right;
      display: block;
      font-size: 15px;
      margin-right: 20px;
      font-family: "microsoft yahei";
      cursor: pointer;
    }
  }

  #pop_map {
    width: 800px;
    height: 480px;
  }
}
.hide {
  display: none;
  visibility: hidden;
}

.firm_des {
  font-size: 12px;
  margin-top: 10px;
}