.application_wrapper_area {
  background-color: #f6f6f6;
  margin: 0;
//  padding-left: 138px;
  padding-top: 50px;
  color: #454545;
  .clearfix();
}

.application_wrapper {
  //  margin:0 134px;
  font-family: 'microsoft yahei';
  font-size: 15px;
  background-color: #f6f6f6;
  .clearfix();
  width: 960px;
  margin: 0 auto;

}

.application_leftsidebar_area {
//  width: 288px;
  float: left;
  color: #406da0;
}

.application_leftsidebar {
//  width: 181px;
  margin-left: 0px;
  ul {
    position: relative;
    li {
      img {
        vertical-align: middle;
      }
    }
    .application_line {
      height: 40px;
      width: 3px;
      background-color: #406da0;
      //      position: absolute;
      margin-left: 50px;
    }
  }
}

.application_leftsidebar p {
  font-weight: 400;
  font-size: 18px;
}

.application_leftsidebar ul {
  list-style-type: none;

}

.application_leftsidebar a {
  display: block;
  text-decoration: none;

  color: #406da0;
  height: 142px;
  line-height: 142px;
}

.application_maincontent_area {
  margin: 0;
  padding: 0;
  float: left;
  width: 656px;
  margin-left: 100px;
}

.application_maincontent p {
  color: #409f73;
  font-size: 15px;
}

.application_maincontent {
//  width: 556px;
  margin-left: 0;

  .company_star{
    color: red;
  }
}

.application_maincontent fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.application_maincontent label {
  display: block;
  position: relative;
  margin-bottom: 9px;
  margin-top: 18px;
}

input[type="text"] {
  width: 380px;
  height: 21px;
  padding-left: 10px;

  &:focus{
    outline: none;
  }
}

.application_type_other {
  position: relative;
}

input[type="text"].type_other {
  width: 108px;
  position: absolute;
  top: -40px;
  left: 272px;
}

.textarea {
  width: 380px;
  height: 88px;
  &:focus{
    outline: none;
  }

}

.application_maincontent span {
  font-size: 12px;
}

.application_maincontent label .feedbook {
  position: absolute;
  left: 400px;
  top: 35px;
  color: red;
}

.application_maincontent .application_type_other label .feedbook {
  position: absolute;
  top: -33px;
}

input[type="radio"] {
  margin: 0;
  padding: 0;
  margin-left: 35px;
  margin-right: 5px;
}

.first input[type="radio"] {
  margin-left: 0;
}

span.first {
  font-size: 15px;

}

.application_maincontent select {
  width: 178px;
  height: 27px;
  margin-right: 22px;

  &:focus{
    outline: none;
  }

  option{
    &:focus{
      outline: none;
    }
  }
}

.application_maincontent.choose_province {
  position: absolute;
  top: 31px;
  left: 6px;
}

.application_maincontent.choose_city {
  position: absolute;
  top: 31px;
  left: 209px;
}

.application_maincontent button {
  margin-left: 130px;
  text-align: center;
  display: block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: #409f73;
  border: 1px solid #409f73;
  margin-top: 26px;
  font-size: 18px;
  color: #fff;

}

@font-face {
  font-family: 'iconfont';
  src: url('../lib/bootstrap-3.0.3/fonts/iconfont.eot');
  src: url('../lib/bootstrap-3.0.3/fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../lib/bootstrap-3.0.3/fonts/iconfont.woff') format('woff'), url('../lib/bootstrap-3.0.3/fonts/iconfont.ttf') format('truetype'), url('iconfont.svg#uxiconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 58px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.feedBack {
    margin: 20px;
    width: 440px;
    text-align: center;
}