header {
  position: relative;
  height: 88px;
  background-color: #ffffff;
  border-top: 3px solid #00925f;
  border-bottom: 3px solid #dedede;

  a {
    display: inline-block;
    margin-top: 12px;
    margin-left: 96px;
  }

  ul {
    position: absolute;
    top: 0px;
    right: 98px;
    z-index: 99;
    li {
      float: left;
      height: 88px;
      line-height: 88px;
      //      display: inline-block;
      width: 100px;
      text-align: center;

      a {
        font-family: "microsoft yahei";
        margin-top: 0px;
        margin-left: 0px;
        font-size: 16px;
        color: #454545;
        text-decoration: none;
        height: 79px;
        width: 100px;
      }

      &:hover {
        border-bottom: 6px solid #aed4c2;
        a {
          border-bottom: 9px solid #409f73;
        }
      }
    }

    //li 被点击的时候的效果
    .active {
      background-color: #409f73;
      border-bottom: 6px solid #aed4c2;

      a {
        color: #ffffff;
      }
    }
  }
}

//end header

.index_login {
  position: relative;
  height: 420px;
  background: url("../../img/bg.jpg") no-repeat;
  background-position: 50% 50%;

  .index_login_text {
    width: 412px;
    height: 237px;
    padding-top: 88px;
    margin-left: 128px;
    p {
      color: #ffffff;
      font-size: 41px;
      font-family: monospace;
      letter-spacing: 3px;
    }
    p:first-child {
      //      padding-top: 88px;
      margin-bottom: 36px;
    }

    .to_enjoy {
      height: 50px;
      width: 145px;
      margin-left: 122px;
      border-radius: 5px;
      border: 1px solid #ffffff;
      background: transparent;
      font-family: monospace;
      color: #ffffff;
      font-size: 22px;
      text-decoration: none;
      padding: 5px 8px;

      &:focus {
        outline: none;
      }
    }
  }

  .index_login_box {
    width: 218px;
    position: absolute;
    top: 30px;
    right: 90px;
    padding: 25px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5), inset 0 0 6px rgba(255, 255, 255, .5);
    input {
      width: 100%;
      height: 34px;
      margin-bottom: 37px;
      padding-left: 10px;

      &:focus {
        outline: none;
      }
    }

    .to_enjoy {
      width: 100%;
      height: 38px;
      background: transparent;
      border: 1px solid #ffffff;
      border-radius: 5px;
      font-size: 17px;
      color: #ffffff;
      font-family: "microsoft yahei";

      &:focus {
        outline: none;
      }
      &:active {
        outline: none;
      }
    }
    p {
      margin-bottom: 30px;
      font-size: 17px;
      color: #ffffff;
      font-family: "microsoft yahei";
    }

    p:last-child {
      text-align: right;
      margin-bottom: 0px;
      font-size: 12px;
      margin-top: 14px;
    }
  }
}

// end index_login

.index_info {
  border-top: 7px solid #f6f6f6;
  //  margin-left: 57px;
  padding: 26px 128px 30px;
  .clearfix();

  .index_info_content {
    width: 25%;
    float: left;
    //    margin-left: 75px;
    font-family: "microsoft yahei";

    .info_top {
      width: 80%;
      position: relative;
      margin: 0 auto;
      span {
        font-size: 16px;
        display: inline-block;
        position: absolute;
        //        right: 20px;
        top: 0px;
        margin-left: 20px;
        color: #454545;
        font-weight: bold;
        width: 118px;
      }
    }
    p {
      width: 213px;
      font-size: 14px;
      margin: 0 auto;
      margin-top: 14px;
      color: #454545;

    }
  }
  .index_info_content_first {
    margin-left: 0px;
  }

}

.index_advantage {
  padding: 18px 128px;
  position: relative;
  background-color: #f6f6f6;
  .clearfix();

  .index_adv_bottom{
    .clearfix();

    border-top: 3px solid #409f73;
    padding-top: 13px;

  }
  .index_adv_line{
    position: absolute;
    left: 50%;
    top: 18px;
    width: 3px;
    height: 347px;
    background-color: #409f73;
    z-index:999;
  }
  .index_adv_circle{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -43px;
    margin-top: -48px;
    z-index: 9999;
  }
  .index_adv_top{
    .clearfix();

  }

  .index_adv {
    width: 50%;
    float: left;
    position: relative;
    height: 170px;
    p{
      position: absolute;
      top: 28px;

      font-size: 16px;
      font-family: "microsoft yahei";
      color: #454545;
      width: 71%;
      letter-spacing: 1px;
      line-height: 1.5;
    }
  }
  .index_adv_right{
    img{
      position: absolute;
      right: 0;
    }
    p{
      left: 20px;
    }

  }
  .index_adv_left{
    p{
      margin-left: 20px;
      left: 90px;
    }
  }
}

.index_function{
  padding: 40px 128px;
  height: 550px;
  .index_func{
    position: relative;
    float: left;
    width: 50%;
    height: 480px;
    .index_func_info{
      position: absolute;
      left: 150px;
      top: 15px;
      div{
        color: #454545;
        font-size: 12px;
        font-family: "microsoft yahei";
        zoom: 1;
        span{
          line-height: 2;
        }
        .index_func_info_title{
          float: left;
        }
        .index_func_info_content{
          padding-bottom: 5px;
          overflow: hidden;
          zoom: 1;
          display: block;
        }
      }

    }
    .index_func_info_left{
      div{
        width: 290px;

      }
    }
    .index_func_info_right{
      div{
        width: 361px;

      }
    }
  }

  .index_func_more{
    clear: both;

    a{
      display: block;
      text-align: center;
      padding-top:55px;
      color: #406da0;
      font-size: 16px;
      font-family: "microsoft yahei";
    }
  }
}

footer{
  background-color: #f6f6f6;
  padding: 77px 0 15px;
  text-align: center;
  color: #454545;
}

.get_ok {
  color: #409f73;
}
.blod {
  font-weight: bold;
}