.userstory_wrapper_area{
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: '宋体', '微软雅黑';
  color: #454545;
  padding-top:32px;
}


#header {
  height: 94px;
}

.company_profile {
//  margin: 0 auto;

//  width: 1014px;
//  height: 644px;
//  margin-top: 32px;
  width: 1036px;
  margin: 0 auto;

}

.company_content {
  .clearfix();
}

.company_content li {
  margin-right: 16px;
  margin-top: 28px;
  padding: 0;
  display: inline-block;
  width: 328px;
  height: 278px;
  float: right;
}

.company_content h2 {
  font-size: 14px;
  font-weight: bold;
  margin-top:15px;
}

.company_content p {
  font-size: 12px;
  margin-top: 16px;
  line-height: 20px;

}

.company_content_text {
  margin: 0 auto;
  width: 294px;
}

.company_profile .another {
  margin: 0;
  padding: 0;
//  text-indent: 20px;
  font-size: 18px;
  font-family: "microsoft yahei";
  margin-top: 26px;

  a{
    width: 141px;
    height: 30px;
    background-color: #419f73;
    color: white;
    text-align: center;
    border-radius: 3px;
    font-size: 15px;
    line-height: 30px;
    margin-left: 10px;
  }

}

.company_profile .another a {

  display: inline-block;
//  margin-left: 20px;
//  font-weight: 14px;
//  color: #409f73;
//  font-weight: bold;
  text-decoration: none;
}

.userstory_company_area {

  margin: 0;
  padding: 0;
  height: 270px;
  background: #fff;
  margin-top: 12px;

}

.userstory_company {
  margin: 0 auto;
  padding: 0;
  width: 952px;
  height: 228px;
  padding: 15px 0;

}

.userstory_company .company_detail {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  width: 315px;
  height: 60px;
  text-align: center;
  border-bottom: 1px dotted;
  border-right:1px dotted;
  img{
    vertical-align: middle;
  }
  span{
    vertical-align: middle;

  }

}
.userstory_company .company_detail_no{
  border-right: none;

}
.userstory_company .company_detail_no_b{
  border-bottom: none;
}

.userstory_company .company_detail2 {
  border-right: hidden;
}

//.userstory_company span {
//  vertical-align: 120%;
//}
